# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment variables
.env

# Logs
*.log

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Build
build/
dist/

# OS files
.DS_Store
Thumbs.db
models/



# Firebase credentials
serviceAccountKey.json