# --- Cœur de l'IA (LlamaIndex) ---
llama-index==0.10.0
llama-index-vector-stores-chroma
llama-index-llms-groq

# Embeddings
sentence-transformers==3.0.1

# Base vectorielle
chromadb==0.5.23

# Serveur API
fastapi
uvicorn
python-dotenv

# Firebase
firebase-admin

# Utilitaires
pypdf
pydantic
requests
httpx
nltk